.row
	.small-12.columns
		%h1 Soda Machine!
.row
	.small-12.columns
		%table
			%thead
				%tr
					%th Coke
					%th Sprite
					%th Dr.Pepper
					%th Mellow Yellow
					%th Diet Coke
					%th Water
			%tbody
				%tr
					%td.coke
					%td.sprite
					%td.drpepper
					%td.mellowyellow
					%td.dietcoke
					%td.water
			%tfoot
				%tr
					%td Total Drinks
					%td Total Purchases
				%tr
					%td.total-drinks
					%td.total-purchase

