@import url(http://fonts.googleapis.com/css?family=Wire+One);

#wrapper
{
	width:940px;
	padding:20px;
	font-family: 'Wire One', sans-serif;
	display:hidden;
}

h1
{
	font-size:70px;
	width:920px;
	color:#EB2424;
	height:100%;
	padding:10px;
	border-bottom:#AF0909 1px solid;
	letter-spacing:5px;
	text-align:center;
}

.logo
{
	width:700px;
	height:100px;
	border:dashed #444 1px;
	margin:0px 0px 40px 120px;
}

.clear
{
	clear:both;
}

#balance
{
	color: #AF0909;
	font-size:200px;
	padding:10px;
	margin:0px auto;
	border-bottom: #AF0909 1px solid;
	text-align:center;
}

.button
{
	background-color:#EB2424;
	color:white;
	border:0px;
	font-size:20px;
	box-shadow:0px 1px #AF0909;
	padding:5px;
	border-radius:5px;
	height:45px;
	width:600px;

	&:active
	{
		position:relative;
		top:1px;
	}

}

.deposit_button
{
		background-color:#14BF00;
		box-shadow:0px 1px #009D15;
		
}

#img_field
{
	width:600px;
	margin:20px auto;
}
#balance_input
{
	width:600px;
	margin:20px auto;
}

#deposit_withdraw
{
	width:600px;
	margin:20px auto;
}


#bank_history
{
	width:600px;
	margin:10px auto;
	padding:0px 0px 0px 100px;
}

ul{

	list-style:none;
	padding:10px;
	margin-right:30px;
	border:solid 1px #444;
	width:200px;
	float:left;
	font-size: 20px;
	text-align:center;


	.deposit

	{
	color:green;
	font-size:15px;
	cursor:pointer;
	}

	.withdraw
	{
	color:red;
	font-size:15px;
	cursor:pointer;

	}

}

input[type=text]{
	text-align:center;
	background-color:#AF0909;
	color:white;
	border:0px;
	width:300px;
	height:50px;
	font-size:30px;
	width:600px;
	display:block;
	margin:20px auto;

	&:focus
	{
		border-bottom:1px solid #AF0909;
	}
}

#button_field
{
	width:600px;
	margin:10px auto;
	padding:0px 0px 0px 40px;
}
.deposit_button
{
	width:250px;
}

.withdraw_button
{
	width:250px;
}