!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Q-UNIT Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel:'stylesheet', href: 'css/foundation.min.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %section.top-bar-section
        %ul.title-area
        %ul.right-dropdown
          %li.toggle-topbar Home
          %li.has-dropdown Text
          %li More-Junk
      %h1.header HEADER H1
      %img
    %section
      %h2.button SECTION H2
      %p  SECTION P
      %P  
        SECTION P
        %span SECTION P SPAN
        %span SECTION P SPAN
    %footer
      %h6 FOOTER H6
      %p  FOOTER P

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'} 
