.row
  .small-2.columns
    %input#school{type:'text'}
  .small-2.columns
    %input#length{type:'text'}
  .small-2.columns
    %input#width{type:'text'}

  .small-6.columns
    %input#addSchool.button.small{type:'button',value:'Add School'}


.row
  .small-2.columns
    %input#student{type:'text'}
  .small-2.columns
    %input#gpa{type:'text'}
  .small-2.columns
    %select#pick-school
  .small-6.columns
    %input#addStudent.button.small{type:'button',value:'Add Student'}
.row
  .small-2.columns
    %input{type:'file'}
    