%section
	#container
		%input#texter{type:"text", placeholder:'Gimme Yoh Name'}
		%input#color_texter{type:"text", placeholder:"What's your favorite color?"}
		%input#button{type:"button", value: "Press Me!"}

		#a Hey Yalls!
		#b Hey Yalls!
		#c Hey Yalls!

		%input#age{type:"text", placeholder:"Enter an Age"}
		%input#age_check{type:"button", value: "Verify Age"}
		#age_div Age Verification