%section
	#green-div I'm Green!
	%input#button{type:'button', value:'Click me!'}

	%input#name_txt{type:'text', placeholder:'Enter Your Name'}
	%input#name_btn{type:"button", value: "Count The Characters!"}
	#name_div BLANK